# Source code
.eslintrc.json
.eslintrc.js
.jshintrc
.vscode/**
.vscode-test/**
.gitignore
src/**
out/**
node_modules/**
tsconfig.json
webpack.config.js
jest.config.js
**/*.ts
**/*.map
yarn.lock
npm-debug.log
**/*.eslintrc.json
**/*.eslintrc.js

# Tests
**/test/**
**/tests/**
**/__tests__/**
**/*.spec.*
**/*.test.*

# Include dist folder
!dist/**
!node_modules/**

# Include necessary docs
!README.md
!LICENSE
!CHANGELOG.md
!package.json
